.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
}

.links a {
  margin-left: 5px;
  margin-right: 5px;
  position: static;
}

.user-name p {
  color: var(--inverted-primary-color);
}
