@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-direction: column;
}