.article-list-item {
  position: static;
  margin-top: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.list {
  .card {
    padding: 15px;
    border-radius: 12px;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin: 16px 0;
  }

  .footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  .text-block {
    max-height: 20ex;
    overflow-y: hidden;
  }
}


.tile {
  transition: .2s;
  cursor: pointer;

  .date {
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
  }

  &:hover {
    opacity: .8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .image-wrapper {
    height: 200px;
    width: 200px;
    position: relative;
  }

  .img {
    height: 200px;
    width: 200px;
    object-fit: contain;
  }

  .info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
