:root, .app-dark-theme {
  --bg-color: #2c3531;
  --inverted-bg-color: #d1e8e2;
  --primary-color: #bca23c;
  --secondary-color: #ccb27e;
  --inverted-primary-color: #0ca70d;
  --inverted-secondary-color: #0aff0a;

  // skeleton
  --skeleton-color: #414b48;
  --skeleton-shadow: #1e2724;
}
