
:root, .app-light-theme {
  --bg-color: #d1e8e2;
  --inverted-bg-color: #2c3531;
  --primary-color: #047c04;
  --secondary-color: #0ca70d;
  --inverted-primary-color: #498b8d;
  --inverted-secondary-color: #ffcb9a;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}
