.app-orange-theme {
  --bg-color: #fff3e0; /* Светлый персиковый фон */
  --inverted-bg-color: #d84315; /* Темный красновато-оранжевый */
  --primary-color: #ff5722; /* Основной цвет — насыщенный оранжевый */
  --secondary-color: #ff8a65; /* Вторичный цвет — светло-оранжевый */
  --inverted-primary-color: #fff; /* Белый для инверсии основного цвета */
  --inverted-secondary-color: #ffccbc; /* Светлый оранжевый для инверсии вторичного цвета */

  // skeleton
  --skeleton-color: #ffe0b2; /* Светлый оранжевый для скелетона */
  --skeleton-shadow: rgb(216 67 21 / 20%); /* Тень с красновато-оранжевым оттенком */

  // code
  --code-bg: #ffebee; /* Светлый розовый с оранжевым оттенком для фона кода */
}
