.sidebar-item {
  position: relative;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
  width: 30px;
  height: 30px;
}

.collapsed.item {
  justify-content: center;
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
    margin-left: 0;
    transition: all .1s;
  }
}
