.profile-page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .save-btn {
    margin-left: 6px;
  }

  .edit-btn {
    margin-left: auto;
  }
}

.btn-wrapper {
  position: relative;
}
