@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';
@import 'themes/orange';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  background-color: var(--bg-color);
}

img {
  max-width: 100%;
  display: block;
}

.content-page {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-direction: column;
}
