.article-details-page {
  width: 100%;
  max-width: 940px;
  padding: 20px;
}

.inverted-bg {
  background: var(--inverted-bg-color);
  padding: 2%;
}

.comment-title p {
  color: var(--inverted-primary-color);
}

.mt {
  margin-top: 20px;
}
