.article-details-page {
  width: 100%;
}

.inverted-bg {
  background: var(--inverted-bg-color);
  padding: 2%;
}

.comment-title p {
  color: var(--inverted-primary-color);
}

.mt {
  margin-top: 20px;
}

.recommendations {
  margin-bottom: 2%;
  padding-bottom: 2%;
  display: flex !important;
  flex-wrap: nowrap;
  overflow: auto hidden;
  grid-template-columns: unset;
}
