.sidebar {
  height: calc(100vh - var(--navbar-height));
  flex-grow: 1;
  width: 100%;
  max-width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
}

.switchers {
  width: 100%;
  bottom: 20px;
  display: flex;
  position: absolute;
  justify-content: center;
}

.lang {
  margin-left: 10px;
}

.collapse-btn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar:not(.collapsed) {
  animation: not-collapsed .2s ease-in forwards;
}

.collapsed {
  animation: collapsed .2s ease-in forwards;

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .items {
    margin-left: 0;
  }
}

@keyframes collapsed {
  from {
    max-width: var(--sidebar-width);
  }

  to {
    max-width: var(--sidebar-width-collapsed);
  }
}

@keyframes not-collapsed {
  from {
    max-width: var(--sidebar-width-collapsed);
  }

  to {
    max-width: var(--sidebar-width);
  }
}
