.add-comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--inverted-primary-color);
  border: 1px solid var(--inverted-primary-color);
  padding: 15px;
}

.add-comment-form input::placeholder {
  color: var(--inverted-primary-color-opacity);
}

.add-comment-form input {
  color: var(--inverted-secondary-color);
  box-shadow: 1px 1px 1px var(--inverted-primary-color-opacity);
}

.input {
  flex: 1;
  margin-right: 15px;
}
