.app.dark {
  --bg-color: #0b0035;
  --inverted-bg-color: #f0f0f0;

  --primary-color: #0ca70d;
  --secondary-color: #0aff0a;
  --inverted-primary-color: #2a52b5;
  --inverted-secondary-color: #3d6bff;
}