
:root, .app-light-theme {
  --bg-color: #d1e8e2;
  --inverted-bg-color: #2c3531;
  --primary-color: #0ca70d;
  --secondary-color: #0aff0a;
  --inverted-primary-color: #116466;
  --inverted-secondary-color: #ffcb9a;
}