.app-link {
  text-decoration: none;
}

.app-link:hover {
  text-decoration: underline;
}

.app-link.normal {
  color: var(--primary-color);
}

.app-link.inverted {
  color: var(--inverted-primary-color);
}
